      <!doctype html>
      <head>
        <meta charset="utf-8">

        <title>EPPF</title>
        <meta name="description" content="My Parse App">
        <meta name="viewport" content="width=device-width">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>
      </head>
    <body>
    <canvas id="myChart" width="400" height="400"></canvas>
       <script src='Chart.min.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script type="text/javascript">
          Parse.initialize("34olOarYIJtsSy1YcuCdR4RFBPzKthQfAyotWjXP", "vvoqLVt7kMDwuxYliMuOJthEpMvRA3PVFdxC5izY");
          var Comment = Parse.Object.extend("DAMData006");
          var query = new Parse.Query(Comment);
            // Retrieve the most recent ones
            query.descending("createdAt");
            // Only retrieve the last ten
            query.limit(4);
            // Include the post data with each comment
            query.include("post");
            console.log("xvxcvxcv");
            query.find({
            success: function(comments) {
              for (var i = 0; i < comments.length; i++) {
                            var a = comments[0].get("total");
                            var b = comments[1].get("total");
                            var c = comments[2].get("total");
                            var d = comments[3].get("total");
                            console.log(a);
                            $(function() {
                               options = {
                                  //Boolean - Show a backdrop to the scale label
                                  scaleShowLabelBackdrop: true,
                                  //String - The colour of the label backdrop
                                  scaleBackdropColor: "rgba(255,255,255,0.75)",
                                  // Boolean - Whether the scale should begin at zero
                                  scaleBeginAtZero: true,
                                  //Number - The backdrop padding above & below the label in pixels
                                  scaleBackdropPaddingY: 2,
                                  //Number - The backdrop padding to the side of the label in pixels
                                  scaleBackdropPaddingX: 2,
                                  //Boolean - Show line for each value in the scale
                                  scaleShowLine: true,
                                  //Boolean - Stroke a line around each segment in the chart
                                  segmentShowStroke: true,
                                  //String - The colour of the stroke on each segement.
                                  segmentStrokeColor: "#fff",
                                  //Number - The width of the stroke value in pixels
                                  segmentStrokeWidth: 2,
                                  //Number - Amount of animation steps
                                  animationSteps: 100,
                                  //String - Animation easing effect.
                                  animationEasing: "easeOutBounce",
                                  //Boolean - Whether to animate the rotation of the chart
                                  animateRotate: true,
                                  //Boolean - Whether to animate scaling the chart from the centre
                                  animateScale: false,
                                  //String - A legend template
                                  legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"

                              };
                               data = [
                                  {
                                      value: a,
                                      color: "#F7464A",
                                      highlight: "#FF5A5E",
                                      label: "Dam1"
                                  },
                                  {
                                      value: b,
                                      color: "#46BFBD",
                                      highlight: "#5AD3D1",
                                      label: "Dam2"
                                  },
                                  {
                                      value: c,
                                      color: "#FDB45C",
                                      highlight: "#FFC870",
                                      label: "Dam3"
                                  }
                              ];
                               ctx = $("#myChart").get(0).getContext("2d");
                               myNewChart = new Chart(ctx).Pie(data, options);
                          });
                      }
              }
          });

        </script>
      </body>

      </html>
